<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 配置别名 为了方便配置操作文件-->  
    <typeAliases>  
        <typeAlias type="cn.mybatis.test.Human" alias="Human" />  
        <typeAlias type="cn.mybatis.resultmap.Result" alias="Result"/>
    </typeAliases>  
       
    <!-- 配置环境变量 -->  
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=UTF-8"/>
				<property name="username" value="root"/>
				<property name="password" value="123456"/>
			</dataSource>
		</environment>
	</environments>
	<!-- 配置mappers -->  
    <mappers>  
        <mapper resource="cn/mybatis/test/HumanDao.xml" />  
        <mapper resource="cn/mybatis/resultmap/Mapper.xml"/>
    </mappers>  
</configuration>
