<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="cn.mybatis.test">  
	<!-- 按id查询 -->
    <select id="queryUsersById" parameterType="Human" resultType="Human">  
        <!-- useCache="false" -->
        <![CDATA[ 
      select * from inserts t where t.id=#{id}
      ]]>  
    </select>  
    <!-- 查询全部 -->
    <select id="queryUsers" resultType="Human">
    	select * from inserts
    </select>
	<!-- 插入记录 -->    
    <insert id="insertUser" parameterType="Human" >
    <!-- 该字段是必须要在数据库中自增长的
    	可能会有并发问题
    	useGeneratedKeys="true" keyProperty="id"
    	所以用查询方式好点， 写语句就不要考虑主键了
     -->
    	<selectKey resultType="int" keyProperty="id">
    		select LAST_INSERT_ID()
    	</selectKey>
    	insert into inserts (name) values(#{name})
    </insert>
    <!-- 删除记录 -->
    <delete id="deleteUser" parameterType="String">
    	delete from inserts where id=#{id}
    </delete>
    <!-- 更新记录 -->
    <update id="updateUserById" parameterType="Human">
    	update inserts set name=#{name} where id=#{id}
    </update>
</mapper>  
