<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <!-- 对使用了注解的包进行扫描 -->
	<context:component-scan base-package="cn.spring.aop"></context:component-scan>
	<!-- 基本类 提供切点 -->
	<bean id="student" class="cn.spring.aop.Student"></bean>
	<!-- 增强部分 -->
	<bean id="adder" class="cn.spring.aop.NewDeal"></bean>
	<!-- 使用aop的自动提示也要配置上面的头文件声明 -->
	<aop:config>
		<!--aspect表示切面 ref 标明增强方法的类来源 -->
		<aop:aspect id="myAop" ref="adder">
			<!-- execution 是表达式（正则一样的功能）匹配的是具体的切点 -->
			<aop:pointcut expression="execution(* cn.spring.aop.Student.run(..))" id="needAdd"/>
			<!-- 织入 的过程 将增强和切入点结合 -->
			<aop:before method="add" pointcut-ref="needAdd"/>
			<aop:after method="af" pointcut-ref="needAdd"/>
			<aop:around method="around" pointcut-ref="needAdd"/>
		</aop:aspect>
	</aop:config>
</beans>