<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
<!--  数据库的连接配置
  数据驱动
 <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
 数据库的url
 <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/students</property>
 <property name="hibernate.connection.username">root</property>
 <property name="hibernate.connection.password">123</property> -->
<!-- 数据库方言 -->
<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

<!-- 辅助配置 -->
<property name="hibernate.show_sql">true</property>
<property name="hibernate.hbm2ddl.auto">update</property>
<mapping resource="pojo/student.hbm.xml"/>
<mapping resource="pojo/dom.hbm.xml"/>
</session-factory>
</hibernate-configuration>